---
layout: default
title: Home
cover: false
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        {% if paginator.previous_page %}
        <a class="back-button icon-arrow-left" href="{{'/' | relative_url }}">Home</a>
        {% endif %}
        <a class="subscribe-button icon-feed" href="{{'feed.xml' | relative_url }} ">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h1 class="post-title"><a href="{{ post.original_link }}">{{ post.title | replace_first: "ANNOUNCE: ", "" }}</a></h1>
        </header>
        <header class="post-meta">
            {% if post.author %}
                {{ post.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time>
            <a href="{{ post.original_link }}" class="post-permalink">
                Permalink
            </a>
        </header>
        {% assign useContent = false %}
        {% if post.excerpt_only==true %}
            {% assign excerptSize = post.excerpt | number_of_words %}
            {% if post.summary %}
                {% assign summarySize = post.summary | number_of_words %}
            {% endif %}
            {% assign excerptAlt = post.content | split:"<p>" | shift | first | strip_html %}
            {% if post.original_link contains "github.com" or post.original_link contains "mail.xfce.org" or post.original_link contains "changelogs.ubuntu.com" %}
                {% assign useContent = true %}
                {% assign content = post.content %}
            {% elsif post.summary and summarySize > 0 and summarySize < 200 %}
                {% assign content = post.summary %}
            {% elsif excerptSize < 10 %}
                {% assign content = excerptAlt %}
            {% else %}
                {% assign content = post.excerpt | strip_html %}
            {% endif %}
        {% else %}
            {% assign useContent = true %}
            {% assign srcReplace = 'src="' | append: post.hostname %}
            {% assign content = post.content | replace: 'src="/', srcReplace %}
        {% endif %}
        {% if useContent==true %}
            <section class="post-content">{{ content }}</section>
        {% else %}
            <section class="post-excerpt">{{ content }}</section>
        {% endif %}
        <footer>
            {% if post.original_link contains "github.com" or post.original_link contains "mail.xfce.org" %}
                <a class="read-more" href="{{ post.original_link }}">&raquo; Release Announcement</a>
            {% elsif post.original_link contains "changelogs.ubuntu.com" %}
                <a class="read-more" href="{{ post.original_link }}">&raquo; Changelog</a>
            {% else %}
                <a class="read-more" href="{{ post.original_link }}">&raquo; Read More</a>
            {% endif %}
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
