<nav class="pb-links" aria-label="Where the community lives on">
    <a class="pb-link" href="https://seand.xyz">
        <span class="pb-link-name">seand.xyz</span>
        <span class="pb-link-desc">Sean Davis's site &mdash; latest Xubuntu dev news</span>
    </a>
    <a class="pb-link" href="https://xfce.org">
        <span class="pb-link-name">xfce.org</span>
        <span class="pb-link-desc">The Xfce desktop environment</span>
    </a>
    <a class="pb-link" href="https://xubuntu.org">
        <span class="pb-link-name">xubuntu.org</span>
        <span class="pb-link-desc">The Xubuntu project</span>
    </a>
    <a class="pb-link" href="https://docs.xfce.org">
        <span class="pb-link-name">docs.xfce.org</span>
        <span class="pb-link-desc">Official Xfce documentation</span>
    </a>
</nav>
